body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #00083a;
    color: #4e4e4e;
}
.pgBg{
    background-image: url("../img/titleScreen.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.windowHeader{
    height: 20px;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
}
.buttons{
    float: right;
}
.dragBar{
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;
    height: 100%;
    width: calc(100% - 62px);
    background-color: rgba(0,0,0,0.1);
    float: left;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0,0.44);
}
.btn{
    display: inline-block;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    width: 20px;
    height: 100%;
    text-align: center;
    margin-left: -3.2px;
}
.btn:hover{
    background-color: rgba(0,0,0,0.3);
}
.weatherChooser{
    padding-top: 20px;
    text-align: center;
    display: none;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    margin: auto;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(100% - 100px);
    height: calc(100% - 130px);
    border-radius: 3px;
}
.title{
    font-size: 35px;
}
.textInput{
    background-color: rgba(0,0,0,0.2);
    border: none;
    color: #e5e5e5;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 10px;
}
.textInput:focus {outline:0;}
.suggestionsList{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    width: 230px;
    height: 0;
    max-height: 200px;
    background-color: rgba(0,0,0,0.2);
    margin: 5px auto auto;
    border-radius: 3px;
    overflow:auto !important;
    display: none;
}
.eachCity{
    display: block;
    border-bottom: solid 1px rgba(255,255,255,0.4);
    background: rgba(0,0,0,0.0);
    transition: width 24s;
    cursor: pointer;
}
.eachCity:hover{
    background: rgba(0,0,0,0.3);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.4);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.21);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.31);
}